<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>Student Panel</title>

    link rel="stylesheet" href="/assets/fonts/font.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/v4-shims.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/image/bg.css">

    <script src="/assets/js/validation.js"></script>
    <script src="/assets/js/jquery-3.4.1.min.js"></script>
    <script src="/assets/js/alert.js"></script>
    <script src="/environments/prod.environment.js"></script>
    <script src="/components/panels/student/js/student-panel.js"></script>
</head>
<body>



<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.12.1/js/all.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.12.1/js/v4-shims.js"></script>
</body>
</html>
