<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>Register Account</title>


    <link rel="stylesheet" href="/assets/fonts/font.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/v4-shims.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/image/bg.css">

    <script src="/assets/js/validation.js"></script>
    <script src="/assets/js/showPassword.js"></script>
    <script src="/assets/js/jquery-3.4.1.min.js"></script>
    <script src="/assets/js/alert.js"></script>
    <script src="js/pwstrength-bootstrap.min.js"></script>
    <script src="js/register.js"></script>
    <script src="/environments/prod.environment.js"></script>


</head>
<body>
<div class="container mt-5" style="max-width: 23rem">
    <div id="response"></div>
    <div class="row">
        <div class="col">
            <div class="card border-info mb-3">
                <div class="card-header text-center">
                    <h4>ثبت نام</h4>
                </div>
                <form class="needs-validation" novalidate id="registerForm">
                    <div class="form-row justify-content-center">
                        <div class="form-group col-10 mt-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" id="username" placeholder="نام کاربری"
                                       aria-describedby="inputGroupPrepend" required>
                                <div class="invalid-feedback">
                                    نام کاربری نمی تواند خالی باشد!
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-10 mt-3" id="pwd-container">
                            <div class="mb-2">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" onclick="showPassword()"><i
                                                class="fa fa-eye-slash" id="passIcon"></i></span>
                                    </div>

                                    <input type="password" class="form-control" id="password" placeholder="رمز عبور"
                                           aria-describedby="inputGroupPrepend" required>

                                    <div class="invalid-feedback">
                                        رمز عبور نمی تواند خالی باشد!
                                    </div>
                                </div>

                                <div class="mt-3">
                                    <div class="pwstrength_viewport_progress"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-10 mb-3">
                            <div class="mb-2">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" onclick="showConfirmPassword()"><i
                                                class="fa fa-eye-slash" id="confPassIcon"></i></span>
                                    </div>

                                    <input type="password" class="form-control" id="confirmPassword"
                                           placeholder="تایید رمز عبور"
                                           aria-describedby="inputGroupPrepend" required>

                                    <div class="invalid-feedback">
                                        تایید رمز عبور نمی تواند خالی باشد!
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-10 mb-3">
                            <div class="form-group">
                                <select class="custom-select" id="role" required>
                                    <option value="">لطفا نوع اکانت خود را مشخص کنید</option>
                                    <option value="ROLE_STUDENT">دانشجو</option>
                                    <option value="ROLE_TEACHER">استاد</option>
                                </select>
                                <div class="invalid-feedback">لطفا یک مورد را انتخاب کنید!</div>
                            </div>
                        </div>

                        <div class="form-group col-10 mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                <label class="form-check-label" for="invalidCheck">
                                    پذیرفتن تمامی شرایط و ضوابط
                                </label>
                                <div class="invalid-feedback">
                                    باید شرایط و ضوابط را بپذیرید!
                                </div>
                            </div>
                        </div>
                        <div class="col-10 text-center mb-3">
                            <button id="submit" class="btn btn-primary" type="submit" style="width: 100%">ثبت نام
                            </button>
                        </div>
                        <div class="col-10 mb-3 text-center">
                            <h6 class="text-center"><a class="page-link" href="http://localhost:7777">ورود</a></h6>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<script src="js/stength-meter.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.12.1/js/all.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.12.1/js/v4-shims.js"></script>
</body>
</html>
